server:
  port: ${SERVER_PORT}

spring:
  application:
    name: re-shopping-cart-web-app

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO}
    show-sql: ${SHOW_SQL}

  thymeleaf:
    cache: ${THYMELEAF_CACHE}
